body {
	background: LightCyan;
}

button{
  font-size: 20px;
  padding: 20px;
  border: 5px;
  border-radius: 10px;
  color: white;
  background: #4fc7ef;
}

button:hover{
    color: black;
    transform: scale(1.1);
    background: DeepPink;
    transition: background 400ms, color 200ms 100ms linear;
}

.save{
	text-align: center;
}

.klikkeButtons{
	text-align: center;
}
.saveLoad{
  font-size: 20px;
  padding: 20px;
  width: 100px;
  border: 5px;
  border-radius: 100px;
  background: pink;
}

.reset{
  font-size: 10px;
  padding: 10px;
  width: 50px;
  border: 5px;
  border-radius: 100px;
  background: grey;
}


h1 {
    font-size: 40px;
    font-family: "Arial", Helvetica, sans-serif;
    color: deepPink;
    margin: 0 auto;
    text-align: center;
}

.min-boks {
	font-size: 20px;
    width: 10%;    
    height: 100px;    
    padding: 0px;    
    border: 5px solid pink;    
    background-color: powderblue;
    margin: 0 auto;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

.boks2 {
	font-size: 17px;
	margin-left: auto;
  	margin-right: auto;
	width: 400px;    
    height: 400px;    
    padding: 0px;    
    border: 5px solid pink;    
    margin: 0 auto;
    background-color: powderblue;
}

.boks3 {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 5px;
    margin: 0 auto;
    border-top-color: transparent;
    background: url(keyboard-cat-bento-2.jpeg);
    background-repeat: no-repeat;
    background-size: 100%;
    animation: move 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-fill-mode: forwards;
}


@keyframes move {
    25% { transform: skewX(15deg); }
    50% { transform: skewX(0deg) scale(2); }
    75% { transform: skewX(15deg); 
    } 


